#wrapper {
	max-width: 1080px;
	min-width: 1080px;
	background-image: url("../../wallpaper.png");
}

/*heading*/
h1 {
	font-family: 'Oswald', sans-serif;
	color: #0021A5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	text-align: center;
}

/*text input for new button*/
#gif-form {
	float: right;
	padding-top: 10px;
}

#gif-input {
	padding-top: 10px;
	width: 300px;
}

label {
	font-family: 'Oswald', sans-serif;
	color: #0021A5;
	font-size: 20px;
}

#addGif {

}
/*sports buttons at the top*/
.sportsButtons {
	margin-right: 2px;  
	border-radius: 8px;
	font-size: 20px;
	background-color: #0021A5;
	color: white;
	border: 2px solid #FA4616;

}

#pageButtons {
	text-align: center;
	padding-bottom: 15px;
}

.sportsButtons:hover {
	border-radius: 8px;
	background-color: #FA4616;
	color: white;
	border: 2px solid #0021A5;
}

#gifs {
}

img {
	margin-right: 5px;
	height: 200px;
	width: 350px;
	padding: 5px;
}



.gifWrapper {
	display: inline-block;
}

.gifWrapper p {
	font-size: 20px;
	font-weight: bold;
}

/*




/*the ratings paragraphs*/
/*div p {
	padding-bottom: 15px;
	position: absolute;
}




*/